<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".tictactoegame.Setting.TicTacToe"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Tictactoe">
        <activity
            android:name=".tictactoegame.Multiplayer.Get_Player_Multiplayer_Activity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".tictactoegame.OnlineWithRoom.Get_PlayerName_RoomActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".tictactoegame.Multiplayer.MatchGameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".tictactoegame.Multiplayer.MultiplayerActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".tictactoegame.AI.AIDifficultyActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  /> <!-- Multiplayer Activities -->
        <activity
            android:name=".tictactoegame.OnlineWithRoom.RoomplayerGameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  />
        <activity
            android:name=".tictactoegame.OnlineWithRoom.JoinRoomActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  />
        <activity
            android:name=".tictactoegame.OnlineWithRoom.CreateRoomActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  />
        <activity
            android:name=".tictactoegame.OnlineWithRoom.OnlineRoomActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  /> <!-- Settings Activity -->
        <activity
            android:name=".tictactoegame.Setting.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- AI Game Activities -->
        <activity
            android:name=".tictactoegame.AI.AiGameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  />
        <activity
            android:name=".tictactoegame.AI.AiChooseSymbolActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  />
        <activity
            android:name=".tictactoegame.AI.AIGetPlayerNameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  /> <!-- Offline Game Activities -->
        <activity
            android:name=".tictactoegame.TwoPlayer.OfflineGameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".tictactoegame.TwoPlayer.ChooseSymbolActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  />
        <activity
            android:name=".tictactoegame.TwoPlayer.OfflineGetPlayersNamesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"  /> <!-- Launcher Activity (Use main app theme instead of AppCompat) -->
        <activity
            android:name=".tictactoegame.OfflineGameMenuActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:ignore="LockedOrientationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Tictactoe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>